@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: after-white-space;
  -webkit-user-select: auto;
  user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:root {
  --root-background: #666;
  --body-background: var(--clr-offwhite);
  --sidebar-nav: var(--clr-offwhite);
  --sidebar-nav-hover: var(--clr-green);
  --header-main: var(--clr-offwhite);
  --clr-yellow: #ffd166;
  --clr-offwhite: #fef9ef;
  --clr-green: #17c3b2;
  --clr-blue: #227c9d;
  --clr-red: #fe6d73;
  --fnt-fam-default: "Ubuntu", sans-serif;
  --fnt-wt-300: 300;
  --fnt-wt-400: 400;
  --fnt-wt-700: 700;
  --fnt-sz-default: 1.6rem;
  --fnt-sz-header-main: 2.5rem;
  --fnt-sz-sidebar: 1.8rem;
  font-size: 62.5%;
}

html {
  display: grid;
  place-items: center;
  background-color: var(--root-background);
  padding: 3rem;
}

body {
  overflow: hidden;
  height: 95vh;
  width: 95vw;
  background: var(--body-background);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas: "sidebar header" "sidebar main";
  font-family: var(--fnt-fam-default);
  font-size: var(--fnt-sz-default);
}

.icon {
  margin-right: 2rem;
}
.icon__heading-main {
  padding: 0;
  width: 4rem;
  aspect-ratio: 1;
  margin-right: 1rem;
  fill: var(--header-main);
}
.icon__sidebar {
  width: 3rem;
  aspect-ratio: 1;
  margin-right: 2rem;
  fill: var(--sidebar-nav);
}
.icon__searchbar {
  width: 2rem;
  aspect-ratio: 1;
}

.heading--main {
  display: flex;
  align-items: center;
  font-weight: var(--fnt-wt-700);
  font-size: var(--fnt-sz-header-main);
  color: var(--header-main);
}

.header {
  grid-area: header;
  width: 100%;
  display: grid;
  padding: 3rem;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
}

.sidebar {
  grid-area: sidebar;
  background: var(--clr-blue);
  border-radius: 1rem 0rem 0rem 1rem;
  padding: 3rem;
  display: grid;
  gap: 5rem;
  align-content: start;
}
.sidebar__nav {
  display: grid;
  gap: 1.5rem;
}
.sidebar__nav-item {
  display: flex;
  align-items: center;
  font-size: var(--fnt-sz-sidebar);
  font-weight: var(--fnt-wt-400);
  color: var(--sidebar-nav);
}
.sidebar__nav-link {
  transition: 0.25s ease;
}
.sidebar__nav-link:hover {
  color: var(--sidebar-nav-hover);
}

.searchbar {
  border: 1px solid var(--clr-green);
  display: flex;
  gap: 0.5rem;
  background: white;
  padding: 0.5rem;
  border-radius: 10rem;
  width: 100%;
}/*# sourceMappingURL=main.css.map */