@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: after-white-space;
  -webkit-user-select: auto;
  user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:root {
  --root-background: var(--clr-green);
  --body-background: var(--clr-creamywhite);
  --sidebar-nav: var(--clr-creamywhite);
  --sidebar-nav-hover: var(--clr-yellow);
  --header-main: var(--clr-creamywhite);
  --body-text: var(--clr-medium-grey);
  --headings-text: var(--clr-dark-grey);
  --clr-yellow: #ffd166;
  --clr-creamywhite: #fef9ef;
  --clr-green: #17c3b2;
  --clr-blue: #227c9d;
  --clr-red: #fe6d73;
  --clr-offwhite: #fefcfb;
  --clr-light-grey: #eeeeee;
  --clr-dark-grey: #383838;
  --clr-medium-grey: #505050;
  --clr-twitter: #1da1f2;
  --fnt-fam-default: "Ubuntu", sans-serif;
  --fnt-wt-300: 300;
  --fnt-wt-400: 400;
  --fnt-wt-700: 700;
  --fnt-sz-default: 1.6rem;
  --fnt-sz-header-main: 2.5rem;
  --fnt-sz-header-secondary: 2rem;
  --fnt-sz-header-announcement: 1.8rem;
  --fnt-sz-sidebar: 1.8rem;
  --fnt-sz-greet-name: 2.5rem;
  --fnt-sz-announcement: 1.4rem;
  font-size: 62.5%;
}

html {
  display: grid;
  place-items: center;
  background-color: var(--root-background);
  padding: 3rem;
}

body {
  min-height: 95vh;
  width: 95vw;
  background: var(--body-background);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas: "sidebar header" "sidebar main";
  font-family: var(--fnt-fam-default);
  font-size: var(--fnt-sz-default);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  color: var(--body-text);
}

.icon {
  margin-right: 2rem;
}
.icon__heading-main {
  padding: 0;
  width: 4rem;
  aspect-ratio: 1;
  margin-right: 1rem;
  fill: var(--header-main);
}
.icon__sidebar {
  width: 3rem;
  aspect-ratio: 1;
  margin-right: 2rem;
  fill: var(--sidebar-nav);
}
.icon__searchbar {
  width: 2rem;
  aspect-ratio: 1;
}
.icon__usernav {
  width: 2.5rem;
  aspect-ratio: 1;
}
.icon__card {
  width: 2rem;
  aspect-ratio: 1;
}
.icon__card:hover {
  transform: translateY(0.2rem);
}

.heading--main {
  display: flex;
  align-items: center;
  font-weight: var(--fnt-wt-700);
  font-size: var(--fnt-sz-header-main);
  color: var(--header-main);
}
.heading--secondary {
  font-size: var(--fnt-sz-header-secondary);
  font-weight: var(--fnt-wt-700);
  color: var(--headings-text);
}

.card-header {
  font-size: var(--fnt-sz-header-secondary);
  font-weight: var(--fnt-wt-700);
  color: var(--headings-text);
}

.announcement__header {
  font-size: var(--fnt-sz-header-announcement);
  font-weight: var(--fnt-wt-700);
  color: var(--headings-text);
}
.announcement__text {
  font-size: var(--fnt-sz-announcement);
}

.link-twitter {
  color: var(--clr-twitter);
}
.link-twitter:hover {
  text-decoration: underline;
}

.header {
  grid-area: header;
  width: 100%;
  display: grid;
  padding: 3rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, max-content);
  gap: 3rem;
  background: white;
  border-radius: 0 1rem 0 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.header__searchbar {
  border: 1px solid var(--clr-green);
  display: flex;
  gap: 0.5rem;
  background: white;
  padding: 0.5rem;
  border-radius: 10rem;
  width: 100%;
  height: 3rem;
  margin-block: auto;
}
.header__searchbar-input {
  width: 100%;
}
.header__user-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3rem;
}
.header__user-nav-profile-img {
  border-radius: 100rem;
  width: 5rem;
}
.header__greeting {
  display: grid;
  grid-template-areas: "pfp greet" "pfp name";
  column-gap: 2rem;
  justify-content: start;
  align-items: center;
  font-weight: var(--fnt-wt-700);
}
.header__greeting-profile-img {
  grid-area: pfp;
  border-radius: 100rem;
  width: 8rem;
}
.header__greeting-text {
  grid-area: greet;
}
.header__greeting-username {
  grid-area: name;
  font-size: var(--fnt-sz-greet-name);
}
.header__actions {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}

.sidebar {
  grid-area: sidebar;
  background: var(--clr-blue);
  border-radius: 1rem 0rem 0rem 1rem;
  padding: 3rem;
  display: grid;
  gap: 5rem;
  align-content: start;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.sidebar__nav {
  display: grid;
  gap: 1.5rem;
}
.sidebar__nav-item {
  display: flex;
  align-items: center;
  font-size: var(--fnt-sz-sidebar);
  font-weight: var(--fnt-wt-400);
  color: var(--sidebar-nav);
}
.sidebar__nav-link {
  transition: 0.25s ease;
}
.sidebar__nav-link:hover {
  color: var(--sidebar-nav-hover);
  transform: scale(1.1);
}

.main {
  grid-area: main;
  padding: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: 2.2fr 0.8fr;
  grid-template-areas: "projects aside";
}

.projects {
  grid-area: projects;
  display: grid;
  grid-template-rows: max-content repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "title title";
  gap: 2rem;
}
.projects__title {
  grid-area: title;
}

.aside {
  grid-area: aside;
  display: grid;
  grid-template-rows: max-content 1fr max-content 1fr;
  gap: 2rem;
}

.btn__actions {
  text-transform: uppercase;
  color: var(--clr-offwhite);
  background: var(--clr-green);
  padding: 1rem 3rem;
  border-radius: 10rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: 0.25s ease;
}
.btn__actions:hover {
  transform: translateY(-0.3rem);
}
.btn__actions:hover:active {
  transform: translateY(0.5rem);
  box-shadow: rgb(38, 57, 77) 0px 10px 15px -10px;
}

.card {
  display: grid;
  border-radius: 1rem;
  padding: 1.5rem;
  background: var(--clr-offwhite);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.25s ease;
}
.card:hover {
  transform: scale(1.007);
}
.card-text {
  line-height: 2rem;
}
.card-icons {
  display: flex;
  justify-content: end;
  gap: 2rem;
}
.card__announcement {
  gap: 2rem;
}
.card__announcement > :not(:last-child) {
  border-bottom: 1px solid var(--clr-light-grey);
}
.card__trending {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.trending {
  display: grid;
  grid-template-areas: "pfp username" "pfp projtitle";
  justify-content: start;
  align-items: center;
  border-radius: 1rem;
  padding: 1.5rem;
}
.trending__profile-img {
  grid-area: pfp;
  width: 5rem;
  border-radius: 10rem;
  margin-right: 2rem;
}
.trending__username {
  grid-area: username;
}
.trending__project-titel {
  grid-area: projtitle;
}
.trending:hover {
  background: var(--clr-yellow);
}/*# sourceMappingURL=main.css.map */