@use '../abstracts/' as a;

.btn {
  &__actions {
    font-size: var(--fnt-sz-default);
    text-transform: uppercase;
    color: var(--clr-offwhite);
    background: var(--clr-blue);
    padding: 1rem 3rem;
    border-radius: 1rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 0.25s ease;

    @include a.breakpoint(xl, max) {
      font-size: 1.4rem;
      padding: 0.5rem 1.5rem;
    }

    &:hover {
      transform: translateY(-0.3rem);
      background: var(--clr-red);
      &:active {
        transform: translateY(0.5rem);
        box-shadow: rgb(38, 57, 77) 0px 10px 15px -10px;
      }
    }
  }
}
