:root {
  // colors

  --root-background: var(--clr-green);
  --body-background: var(--clr-creamywhite);
  --sidebar-nav: var(--clr-creamywhite);
  --sidebar-nav-hover: var(--clr-green);
  --header-main: var(--clr-creamywhite);

  --clr-yellow: #ffd166;
  --clr-creamywhite: #fef9ef;
  --clr-green: #17c3b2;
  --clr-blue: #227c9d;
  --clr-red: #fe6d73;
  --clr-offwhite: #fefcfb;
  --clr-light-grey: #eeeeee;

  --clr-twitter: #1da1f2;

  // fonts

  --fnt-fam-default: 'Ubuntu', sans-serif;

  --fnt-wt-300: 300;
  --fnt-wt-400: 400;
  --fnt-wt-700: 700;

  --fnt-sz-default: 1.6rem;
  --fnt-sz-header-main: 2.5rem;
  --fnt-sz-sidebar: 1.8rem;
  --fnt-sz-greet-name: 2.5rem;

  // sizings

  font-size: 62.5%;
}
html {
  display: grid;
  place-items: center;
  background-color: var(--root-background);
  padding: 3rem;
}

body {
  overflow: hidden;
  height: 95vh;
  width: 95vw;
  background: var(--body-background);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 'sidebar header' 'sidebar main';
  font-family: var(--fnt-fam-default);
  font-size: var(--fnt-sz-default);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  //   padding: 2rem;
}

.icon {
  margin-right: 2rem;

  &__heading-main {
    padding: 0;
    width: 4rem;
    aspect-ratio: 1;
    margin-right: 1rem;
    fill: var(--header-main);
  }
  &__sidebar {
    width: 3rem;
    aspect-ratio: 1;
    margin-right: 2rem;
    fill: var(--sidebar-nav);
  }
  &__searchbar {
    width: 2rem;
    aspect-ratio: 1;
  }
  &__usernav {
    width: 2.5rem;
    aspect-ratio: 1;
  }
}
