@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

.heading {
  &--main {
    display: flex;
    align-items: center;
    font-weight: var(--fnt-wt-700);
    font-size: var(--fnt-sz-header-main);
    color: var(--header-main);
  }
  &--secondary {
    font-size: var(--fnt-sz-header-secondary);
    font-weight: var(--fnt-wt-700);
    color: var(--headings-text);
  }
}

.card-header {
  font-size: var(--fnt-sz-header-secondary);
  font-weight: var(--fnt-wt-700);
  color: var(--headings-text);
}
.announcement {
  &__header {
    font-size: var(--fnt-sz-header-announcement);
    font-weight: var(--fnt-wt-700);
    color: var(--headings-text);
  }
  &__text {
    font-size: var(--fnt-sz-announcement);
  }
}

.link {
  &-twitter {
    color: var(--clr-twitter);
    &:hover {
      text-decoration: underline;
    }
  }
}
